/* ========================================================================= */
/* BUTTONS                                                                   */
/* ========================================================================= */
.btn-black {
    background: rgb(33, 33, 33) !important;
    color: rgb(241, 241, 241) !important;
    transition: background-color 0.3s;
}

.btn-black:hover {
    background: rgb(48, 48, 48) !important;
}

.btn-outline-white {
    border: 2px solid rgb(241, 241, 241) !important;
    color: rgb(241, 241, 241) !important;
    transition: 0.3s;
}

.btn-outline-white:hover {
    background: rgb(241, 241, 241) !important;
    color: rgb(33, 33, 33) !important;
}
/* ========================================================================= */
/* BUTTONS                                                                   */
/* ========================================================================= */

/* ========================================================================= */
/* FLASH                                                                     */
/* ========================================================================= */
.flash-alert {
    animation: fading 3s ease 1.5s;
}
/* ========================================================================= */
/* FLASH                                                                     */
/* ========================================================================= */

/* ========================================================================= */
/* BACKGROUND                                                                */
/* ========================================================================= */
.bg-main {
    background: rgb(33, 33, 33) !important;
}

.bg-white {
    background: rgb(241, 241, 241) !important;
}
/* ========================================================================= */
/* BACKGROUND                                                                */
/* ========================================================================= */

@keyframes fading {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
