/* ========================================================================= */
/* BUTTONS                                                                   */
/* ========================================================================= */
.btn-black {
    background: rgb(33, 33, 33) !important;
    color: rgb(241, 241, 241) !important;
    transition: background-color 0.3s;
}

.btn-black:hover {
    background: rgb(48, 48, 48) !important;
}
/* ========================================================================= */
/* BUTTONS                                                                   */
/* ========================================================================= */
